

{{#if registerMSG}}
  <div class="alert alert-danger" role="alert">
    {{registerMSG}}
  </div>
{{/if}}

{{#if registerSuccess}}
  <div class="alert alert-success" role="alert">
    {{registerSuccess}}
  </div>
{{/if}}


{{#if loginMSG}}
<div class="alert alert-danger" role="alert">
  {{loginMSG}}
</div>
{{/if}}





