

.bordertest {
  border:gray solid 2px !important;
  padding: 0.5rem;
   background: #ddd ;
   border-radius: 5px;
}

.searchText {
  color: white;
  position: absolute;
  left: -7%;
  top: 14%;
  font-size: 1.5vw;
  z-index: 9999;
  background:  black ;
  padding:  0.2vw;
  border-radius: 10%;
}

.closeBtn {
  position: absolute;
  left: 97%;
  top: -20px;
}

.dateInput {
  margin-right: 2%;
}

.totalMoney {
    border:gray solid 2px !important;
    border-radius: 5px;
     background: #ddd ;
}

.totalMoneyText {
   left: -8%;
  top: 23%;
  height: 6vw;
  border:gray solid 2px !important;
    border-radius: 50%;
  position: absolute;
}

.penIcon {
  font-size: 1rem;
  color:white;
  padding: 3px 3px 3px 4px;
  border-radius: 3px;
  width: 23px;
  margin-bottom: 2px;
  background: rgb(76, 76, 172);
}

.minusIcon {
  font-size: 1rem;
  color:white;
  padding: 3px 1px 3px 5px;
  border-radius: 3px;
  width: 23px;
  background: rgb(172, 76, 156);
}